hr,p,ul,li{
    padding: 0;
    margin: 0;
}
.user-layout label{
    
    margin-top: 5px;
}
input,select{
    width: 100%;
}
.space5{
    
    height: 5px;
}
html {
    

}

li{
  list-style: none;
    
}

body{


}

.wrapper{
    

}

.content{
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 20px;
    margin-top: 100px;
    
}

.user-login{
    
    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
}
.user-login-text{
    
    font-weight: bold;
}
.user-content{
    width: 95%;
    margin: 0 auto;
    min-height: 400px;
    margin-bottom: 50px;
}
.side-profile{
    border: 1px solid #c6c6c6;
    border-radius: 15px;
      padding: 10px 0;
}
.user-img img{

    width: 100%;

}
.user-img{
   
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.user-profile{
    
    width: 85%;
    margin: 0 auto;
}
.user-profile-text{
    font-weight: bold;
    color: #ff3333;
}
.user-profile-text2{
    
     font-weight: bold;
     color: #cccccc;
}
.user-tool{
    
    padding: 20px;
     border: 1px solid #c6c6c6;
    border-radius: 15px;
    
}
.well{
    
    border-radius: 15px;
    
}
.user-bug{
    
    width: 80%;
    margin: 0 auto;
    
}
.user-bug-btn{
    
    margin-top: 20px;
    
}

.member-update{
   width: 30%;
   margin: 0 auto;   
   margin-top: 300px;
}
.member-update p{
 font-size: 70px;
 color: #ffffff;
}
.member-update2{
    width: 17%;
   margin: 0 auto;   
   margin-top: 50px;
}
.member-update2 p{
     font-size: 30px;
 color: #ffffff;
    
}


